{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>主页</title>
    <link rel="icon" href="{% static "images/dsa.png" %}" sizes="32x32">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static "bootstrap-fileinput/css/fileinput.css" %}" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>$enable-responsive-font-sizes:true;</style>
</head>
<body>
<div style="padding-top:5vh;text-align:center;width: 100vw;">
        <img src="{% static "images/dsa.png" %}" style="width: 17vw;height: 14vw;margin-left: auto;margin-right: auto">
        <h1>数算作业与成绩</h1>
        <br></br>
        {% if message %}
            <div class="alert alert-warning" style="display:inline-block;">{{ message }}</div>
        {% endif %}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-sm-12">
            <form class='form-login' action="{% url "login" %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ login_form.student_id.label_tag }}
                    {{ login_form.student_id }}
                </div>
                <div class="form-group">
                    {{ login_form.password.label_tag }}
                    {{ login_form.password }}
                </div>
                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right float-right">登录</button>
            </form>
        </div>
    </div>
</div>
<br></br>
<div style="text-align:center;">
    <a class="text-center" href="{% url "register" %}">注册</a>
</div>
</body>
</html>