{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>我的作业</title>
    <link rel="icon" href="{% static "images/dsa.png" %}" sizes="32x32">
    <link href="{% static "bootstrap-3.3.7-dist/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-3.3.7-dist/css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-fileinput/css/fileinput.css" %}" rel="stylesheet">
    <link href="{% static "prism/prism.css" %}" rel="stylesheet">
</head>
<body>
<h5 class="text-left">最后提交的代码:</h5>
<pre><code class="language-python">{{ submit.code }}</code></pre>
<script src="{% static "bootstrap-3.3.7-dist/js/jquery-3.3.1.js" %}"></script>
<script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.js" %}"></script>
<script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "prism/prism.js" %}"></script>
</body>
</html>